.jumbotron-darktheme {
  padding: 0;
  margin-bottom: 0;
}

.banner-darktheme {
  padding: 10px 30px 30px 30px;
  img {
    width: 100%;
    padding-bottom: 30px;
    border-radius: $project-border-radius;
  }
  .photo1, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8, .photo9, .photo10 {
    position: relative;
    .photo-update-box {
      img {
        width: auto;
      }
    }
  }
  .photos3and4, .photos8and9 {
    width: 100%;
    display: flex;
    .photo3, .photo8 {
      width: 50%;
      margin: 0px 15px 30px 0px;
      padding-right: 15px;
      border-radius: $project-border-radius;
    }
    .photo4, .photo9  {
      width: 50%;
      padding-left: 15px;
      border-radius: $project-border-radius;
    }
  }
  .photo5, .photo6, .photo7, .photo10 {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .credit-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    span {
      color: grey;
      font-size: 15px;
      font-weight: 100;
      a {
        color: grey;
        font-size: 15px;
        font-weight: 100;
      }
    }
  }
}

.jumbotron-darktheme .banner-xs-darktheme {
  padding: 14px;
  img {
    width: 100%;
    padding-bottom: 14px;
  }
  .photos3and4 {
    width: 100%;
    display: flex;
    .photo3 {
      padding-right: 7px;
    }
    .photo4 {
      padding-left: 7px;
    }
  }
}

.home-text.home-text-darktheme {
  padding: 10px;
  background: #171717;
  label {
    color: white;
  }
  .text {
    display: flex;
    h1:first-child, h2:first-child {
      margin-top: 20px;
    }
    h2, h1{
      font-size: 16px !important;
      margin: 22px 10px 11px 10px;
      color: $home-font-color;
    }
    p {
      font-size: 14px !important;
      font-weight:200;
      color: $home-font-color;
      text-align: justify;
    }
  }
  .text-right {
    padding: 20px;
    text-align: left;
    p {
      margin: 0px 0px 11px 13px;
    }
    .article_content {
      display: block;
      #input2 {
        min-height: 185px;
      }
    }
  }
  .text-left {
    padding: 20px;
    span {
      top: 25px;
      font-family: Raleway;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 2px;
      color: white;
      text-shadow: 1px 1px 0px $primary;
    }
    .live-text {
      margin-top: 20px;
    }
    p {
      margin-left: 13px;
      margin-top: 0px;
      margin-bottom: 11px;
    }
    #live-text1 {
      min-height: 20px;
      p {
        margin-left: 13px;
        margin-top: 0px;
        margin-bottom: 11px;
      }
    }
    .article_content {
      display: block;
      #input1 {
        min-height: 185px;
      }
    }
  }
}
