<% content_for(:description) do %>
Vendez vos produits en ligne ! Site de e-commerce configurable. Affichez sur cette page des informations vous concernant : biographie, techniques utilisées.
<% end %>
<% content_for(:title_tag) do %>
  Page bio de votre site de e-commerce
<% end %>

 <div class="container">

   <div class="hidden-xs hidden-sm col-sm-12 agenda">
    <% if user_signed_in? && current_user.admin %>
      <% article_typing("agenda", "vertical", "markdown1", "live-text5", "input5") %>
      <% @markdown = @markdown1 %>
      <div class="live-text">
        <%= render 'shared/articletyping' %>
      </div>
    <% else %>
      <div class="plain-text">
        <% article_display("agenda", "vertical") %>
        <%= @markdown.html_safe %>
      </div>
    <% end %>
  </div>

  <div class="hidden-md hidden-lg agenda">
    <%= @markdown.html_safe %>
  </div>

</div>



